<div class="d-flex justify-content-between align-items-center mx-5"></div>
  <h1 class="mb-0 text-center"><%= t "admin.foods.title" %></h1>
  <div class="container m-left">
    <div class="row d-flex align-items-center">
      <div class="col col-gap">
        <%= render "admin/shared/search" %>
      </div>
       <div class="col col-gap">
      </div>
      <div class="col mx-4">
        <%= link_to t("admin.foods.new.title"), new_admin_food_path, class: "btn btn-primary" %>
      </div>
    </div>
  </div>
<table class="table m-left">
  <thead>
    <tr>
      <th><%= t "admin.foods.image" %></th>
      <th><%= t "admin.foods.name" %></th>
      <th><%= t "admin.foods.available_item" %></th>
      <th><%= t "admin.foods.price" %></th>
      <th class="operations"><%= t "admin.foods.actions" %></th>
    </tr>
  </thead>
  <tbody>
    <% if @foods.any? %>
     <%= render partial: "admin/shared/food", collection: @foods %>
    <% end %>
  </tbody>
</table>
<div class="d-flex justify-content-center">
  <%== pagy_bootstrap_nav(@pagy) %>
</div>
