<header class="header header-sticky mb-4">
  <div class="container-fluid">
    <button class="header-toggler px-md-0 me-md-3" type="button" onclick="">
      <a href=""><%= t "users.header.name" %></a>
    </button>
    <ul class="header-nav ms-auto">
      <li class="nav-item dropdown">
        <div class="dropdown">
          <button id="userDropdownButton" class="btn dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <div class="avatar avatar-md"><%= image_tag(current_user && current_user.image.attached? ? current_user.image : "default_avatar.png", class: "locale-icon") %></div>
          </button>
          <div class="dropdown-menu dropdown-menu-start" aria-labelledby="dropdownMenuButton">
            <div class="dropdown-header bg-light py-2">
              <div class="fw-semibold"><%= link_to t("users.header.show_profile"), admin_profile_path %></div>
            </div>
             <div class="dropdown-header bg-light py-2">
              <div class="fw-semibold"><%= link_to t("admin.header.logout"), logout_path, data: {turbo_method: :delete} %></div>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>
  <div class="header-divider"></div>
  <div class="container-fluid">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb my-0 ms-2">
        <li class="breadcrumb-item">
          <!-- if breadcrumb is single--><span><%= t(".home") %></span>
        </li>
        <li class="breadcrumb-item active"><span><%= t(".blank") %></span></li>
      </ol>
    </nav>
  </div>
</header>
