<header class="header header-sticky mb-4">
  <div class="container-fluid">
    <button class="header-toggler px-md-0 me-md-3" type="button" onclick="">
      <a href=""><%= t "users.header.name" %></a>
    </button>
    <ul class="header-nav ms-auto">
      <li class="nav-item">
        <a class="nav-link" href="#">
          <i class="bi bi-bell icon icon-lg"></i>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">
          <i class="bi bi-list-task icon icon-lg"></i>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">
          <i class="bi bi-envelope-open icon icon-lg"></i>
        </a>
      </li>
    </ul>
    <ul class="header-nav ms-3">
      <li class="nav-item dropdown">
        <a class="nav-link py-0" data-coreui-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
          <div class="avatar avatar-md"><img class="avatar-img" src="https://static.vecteezy.com/system/resources/previews/019/896/008/original/male-user-avatar-icon-in-flat-design-style-person-signs-illustration-png.png" alt="user@email.com"></div>
        </a>
        <div class="dropdown-menu dropdown-menu-end pt-0">
          <div class="dropdown-header bg-light py-2">
            <div class="fw-semibold"><%= t("admin.header.account") %></div>
          </div>
          <div class="dropdown-header bg-light py-2">
            <div class="fw-semibold"><%= t("admin.header.settings") %></div>
          </div>
          <a class="dropdown-item" href="#">
            <svg class="icon me-2">
              <use xlink:href="vendors/@coreui/icons/svg/free.svg#cil-account-logout"></use>
            </svg>
            <%= t("admin.header.logout") %>
          </a>
        </div>
      </li>
    </ul>
  </div>
  <div class="header-divider"></div>
  <div class="container-fluid">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb my-0 ms-2">
        <li class="breadcrumb-item">
          <!-- if breadcrumb is single--><span><%= t(".home") %></span>
        </li>
        <li class="breadcrumb-item active"><span><%= t(".blank") %></span></li>
      </ol>
    </nav>
  </div>
</header>
