<div class="card-body text-center">
  <%= image_tag(current_user && current_user.image.attached? ? current_user.image : "default_avatar.png", class: "rounded-circle img-fluid", style: "width: 150px;") %>
  <h5 class="my-3"><%= current_user.full_name %></h5>
  <p class="text-muted mb-1"><%= current_user.role.upcase %></p>
  <p class="text-muted mb-4"><%= current_user.email %></p>
  <div class="d-flex justify-content-center mb-2">
    <%= link_to t("user_profile.update"), edit_user_path(id: current_user.id), class: "btn btn-primary" %>
  </div>
</div>
