<div class="row mb-2">
  <div class="col">
    <%= f.label :first_name, t("sign_up.first_name"), class: "form-label" %>
    <%= f.text_field :first_name, class: "form-control", required: true %>
  </div>
  <div class="col">
    <%= f.label :last_name, t("sign_up.last_name"), class: "form-label" %>
    <%= f.text_field :last_name, class: "form-control", required: true %>
  </div>
</div>
<div class="mb-2">
  <%= f.label :email, t("sign_up.email"), class: "form-label" %>
  <%= f.email_field :email, class: "form-control", required: true, autocomplete: "email", disable: true %>
</div>
<div class="mb-2">
  <%= f.label :phone, t("sign_up.phone"), class: "form-label" %>
  <%= f.phone_field :phone, class: "form-control", required: true %>
</div>
<div class="mb-2">
  <%= f.label :address, t("sign_up.address"), class: "form-label" %>
  <%= f.text_field :address, class: "form-control", required: true %>
</div>
  <div class="mb-2">
  <%= f.label :image, t("sign_up.image"), class: "form-label" %>
  <%= f.file_field :image, class: "form-control" %>
</div>
<div class="mb-2">
  <%= f.label :password, t("sign_up.password"), class: "form-label" %>
  <%= f.password_field :password, class: "form-control", required: true, autocomplete: "new-password" %>
</div>
<div class="mb-2">
  <%= f.label :password_confirmation, t("sign_up.password_confirmation"), class: "form-label" %>
  <%= f.password_field :password_confirmation, class: "form-control", required: true, autocomplete: "new-password" %>
</div>
<div class="d-grid">
  <%= f.button t("sign_up.submit"), type: "submit", class: "btn btn-secondary" %>
</div>
