<header id="header" class="header fixed-top d-flex align-items-center">
  <div class="container d-flex align-items-center justify-content-between">
    <a href="index.html" class="logo d-flex align-items-center me-auto me-lg-0">
      <h1><%= t "users.header.name" %><span></span></h1>
    </a>
    <nav id="navbar" class="navbar">
      <ul>
        <li><%= link_to t("users.header.home"), "/" %></li>
        <li><%= link_to t("users.header.about"), "#" %></li>
        <li class="dropdown"><a href="#"><span><%= t "users.header.category" %></span>
            <i class="bi bi-chevron-down dropdown-indicator"></i></a>
          <ul>
          <% Category.all.each do |category| %>
             <li><%= link_to category.name, category_path(id: category.id) %></li>
          <% end %>
          </ul>
        </li>
        <li><%= link_to t("users.header.menu"), foods_path %></li>
        <li><%= link_to t("users.header.contact"), "#" %></li>
      </ul>
      <ul>
        <li class="dropdown">
          <li class="dropdown">
            <a href="#">
              <span><%= t("language.title") %></span>
              <i class="bi bi-chevron-down dropdown-indicator"></i>
            </a>
              <ul>
                <li><%= link_to t("language.eng"), locale:"en"%></li>
                <li><%= link_to t("language.vi"), locale:"vi"%></li>
              </ul>
          </li>
        </li>
      </ul>
    <% if logged_in? %>
      <div class="btn btn-book-a-table"><i class="bi bi-cart3"></i></div>
        <ul>
          <li class="dropdown">
            <li class="dropdown"><a href="#"><span><%= current_user.full_name %></span>
                  <i class="bi bi-chevron-down dropdown-indicator"></i></a>
                <ul>
                  <li><%= button_to t("user.header.logout"), logout_path , method: :delete %></li>
                </ul>
              </li>
          </li>
      </ul>
    <% else %>
      <%= link_to t("users.header.login"), login_path, class: "login" %>
    <% end %>
    </nav>
    </div>
  </div>
</header>
