<div class="container-xl">
  <div class="table-responsive">
    <div class="table-wrapper">
      <div class="table-title">
        <div class="row">
          <div class="row mb-3 text-center d-flex justify-content-center">
            <h2><%= t("orders.orders_history") %></h2>
          </div>
        </div>
      </div>
      <% if @orders.any? %>
        <table class="table table-striped table-hover">
          <thead>
            <tr>
              <th><%= t("orders.order_id") %></th>
              <th><%= t("orders.date_created") %></th>
              <th><%= t("orders.address") %></th>
              <th><%= t("orders.phone_number") %></th>
              <th><%= t("orders.status") %></th>
              <th><%= t("orders.action") %></th>
            </tr>
          </thead>
          <tbody>
            <%= render @orders %>
          </tbody>
        </table>
        <div class="d-flex justify-content-center pt-3">
          <%== pagy_bootstrap_nav(@pagy) %>
        </div>
      <% else %>
        <div class="text-center">
          <p><%= t("orders.no_order") %></p>
        </div>
      <% end %>
    </div>
  </div>
</div>
