<div class="col hp">
  <div class="card h-100 shadow-sm">
    <a href="#">
      <% if food.image.persisted? %>
        <%= image_tag food.image, class: "w-100" %>
      <% end %>
    </a>
    <div class="label-top shadow-sm">
      <a class="text-white" href="#"><%= food.category_name %></a>
    </div>
    <div class="card-body">
      <div class="clearfix mb-3">
        <span class="float-start badge rounded-pill bg-success"><%= number_to_currency(food.price) %></span>
        <span class="float-end"><a href="#" class="small text-muted text-uppercase aff-link"><i class="bi bi-eye"></i></a></span>
      </div>
      <h5 class="card-title text-center">
        <a target="_blank" href="#"><%= food.name %></a>
        <br>
        <a target="_blank" href="#"><%= food.description %></a>
      </h5>
      <div class="d-grid gap-2 my-3">
        <a href="#" class="btn btn-warning bold-btn"><%= t("foods.add_to_cart") %></a>
      </div>
      <div class="clearfix">
        <span class="float-start"><a href="#"><i class="fas fa-question-circle"></i></a></span>
        <span class="float-end">
          <i class="far fa-heart" style="cursor: pointer"></i>
        </span>
      </div>
    </div>
  </div>
</div>
