<div class="col hp">
  <div class="card h-100 shadow-sm">
    <%= link_to food_path(id: food.id) do %>
      <% if food.image.persisted? %>
        <%= image_tag food.image, class: "w-100" %>
      <% end %>
    <% end %>
    <div class="label-top shadow-sm">
      <a class="text-white" href="#"><%= food.category_name %></a>
    </div>
    <div class="card-body">
      <div class="clearfix mb-3">
        <span class="float-start badge rounded-pill bg-success"><%= number_to_currency(food.price) %></span>
        <%= link_to food_path(id: food.id), class: "small text-muted text-uppercase aff-link float-end" do %>
          <%= content_tag :i, nil, class: "bi bi-eye" %>
        <% end %>
      </div>
      <h5 class="card-title text-center">
        <a target="_blank" href="#"><%= food.name %></a>
      </h5>
      <div class="d-grid gap-2 my-2">
        <%= link_to t("foods.add_to_cart"), add_to_cart_path(id: food.id, quantity: 1), data:{"turbo-method": :post}, class: "btn btn-warning bold-btn" %>
      </div>
      <div class="clearfix">
        <span class="float-start"><a href="#"><i class="fas fa-question-circle"></i></a></span>
        <span class="float-end">
          <i class="far fa-heart" style="cursor: pointer"></i>
        </span>
      </div>
    </div>
  </div>
</div>
