<div class="col-lg-12 mb-5 mt-5 ml-5">
    <h4 class="mt-5 mb-5 text-center"><strong><%= t("foods.details") %></strong></h4>
</div>
<div class="container mt-5 mb-5">
    <div class="card">
        <div class="row g-0">
            <div class="col-md-6 border-end">
                <div class="d-flex flex-column justify-content-center align-items-center">
                    <div class="main_image">
                        <% if @food.image.persisted? %>
                            <%= image_tag @food.image, class: "w-100 h-200" %>
                        <% end %>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="p-3 right-side">
                    <div class="d-flex justify-content-between align-items-center">
                        <h3><%= @food.name %></h3>
                    </div>
                    <div class="mt-2 pr-3 content">
                        <p><%= t("users.header.category") %> : <%= @food.category_name %></p>
                        <p><%= @food.description %></p>
                    </div>
                    <h3><%= number_to_currency(@food.price) %></h3>
                    <div class="d-flex align-items-center me-3">
                        <%= form_tag add_to_cart_path(id: @food.id), method: :post, remote: true do %>
                            <div class="d-flex align-items-center">
                                <%= text_field_tag "quantity", 1, class: "form-control input-number", id: "input-numb1-#{@food.id}", type: "number", style: "max-width: 5rem" %>
                                <p class="m-0 mx-2" style="font-size: 1.2rem;">/</p>
                                <p class="m-0" style="font-size: 1.2rem;" id="item_avaiable_<%= @food.id %>"><%= @item_avaiable_add %></p>
                            </div>
                            <div class="buttons d-flex flex-row mt-5 gap-3">
                                <button class="btn btn-dark <%= item_avaiable(@food) %>" type="submit"><%= t("foods.add_to_cart") %></button>
                            </div>
                        <% end %>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
