<!DOCTYPE html>
<html>
  <head>
    <title><%= t "users.header.name" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", media: "all", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  <body>
    <%= render "layouts/users/header" %>
    <div class="container wrap">
      <%= yield %>
    </div>
    <%= render "layouts/users/footer" %>
  </body>
</html>
